.md{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    border-radius: 10px;
    background-color: cornflowerblue;
    max-width: 600px;
}
.btn{
    background: #43d9be;
    color: aliceblue;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px;
}
.btn:focus{
    background-color: darkblue;
    outline: none !important;
    border-radius: 20px;
}
.input-group-text{
    background-color: rgb(99, 150, 245);
}
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(243, 35, 69) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
.list-group-item{
  background-color: rgb(8, 8, 31);
  color: rgb(2, 245, 95);
}
.username{
  font-weight: bold;
}
.time{
  font-size: 0.6em;
  font-color:#999;
}
.update-mssg{
 text-align: center;
 margin:20px auto;
}